body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #868e96; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem;
  background: linear-gradient(-127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  display: inline-block; }

h3 {
  font-size: 2rem;
  color: #355c7d; }

p.lead {
  font-size: 1.15rem;
  font-weight: 400; }

.subheading.mb-3 {
  background: linear-gradient(127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  display: inline-block; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem; }

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #355c7d;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
  transition: all 0.2s; }
  .social-icons a:last-child {
    margin-right: 0; }
  .social-icons a:hover {
    transform: rotate(360deg);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    color: #fffa77 !important; }

.dev-icons {
  font-size: 3rem; }
  .dev-icons .list-inline-item i {
    transition: all 0.3s; }
    .dev-icons .list-inline-item i:hover {
      color: #355c7d;
      transition: all 0.3s; }

.resume-section .list-inline-item .fa-html5:hover {
  color: orangered; }
.resume-section .list-inline-item .fa-css3-alt:hover {
  color: blue; }
.resume-section .list-inline-item .fa-sass:hover {
  color: palevioletred; }
.resume-section .list-inline-item .fa-npm:hover {
  color: #c53635; }
.resume-section .list-inline-item .fa-bootstrap:hover {
  color: #7952b3; }
.resume-section .list-inline-item svg:hover {
  fill: #f28b8f; }
.resume-section .list-inline-item .fa-js-square:hover {
  color: #f7df1e; }
.resume-section .list-inline-item .fa-react:hover {
  color: #5ed4f4; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs .nav-link {
    margin: 0 0.5rem;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    color: #355c7d;
    padding: 3px 15px;
    transition: border 0.2s, color 0.5s; }
    .nav-tabs .nav-link.active {
      color: #c06c84;
      background-color: #fff;
      border-color: #c06c84 #c06c84 #c06c84; }
    .nav-tabs .nav-link:hover {
      color: #c06c84;
      background-color: #fff;
      border-color: #c06c84 #c06c84 #c06c84; }

.nav-link.text-uppercase {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 1.2rem; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s; }
  .card .card-img-top {
    height: 102px; }
  .card .card-link {
    color: #fff;
    padding: 10px 15px;
    background-color: #355c7d;
    border-radius: 5px;
    transition: all 0.2s;
    display: inline-block; }
    .card .card-link:hover {
      background-color: #264259; }
  .card:hover {
    cursor: pointer;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }

svg {
  height: 35px;
  fill: #868e96;
  transition: all 0.3s;
  margin-bottom: 10px; }
  svg:hover {
    fill: #355c7d; }

.container-fluid.p-0 {
  position: relative;
  overflow: hidden; }
  .container-fluid.p-0 .heading-width {
    width: 70%; }

.circle {
  position: absolute;
  top: -228px;
  right: -28%;
  z-index: -2;
  animation: moveCircle 35s linear infinite;
  will-change: transform; }

@keyframes moveCircle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.title-heading {
  position: relative; }
  .title-heading .left-circle {
    content: "";
    width: 140px;
    height: 140px;
    background-color: #91ffc7;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 58px;
    z-index: -1; }
  .title-heading .right-circle {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fffa77;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 360px;
    z-index: -1; }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }
section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 1600px) {
  .circle {
    display: none; } }
@media (min-width: 1440px) {
  .circle {
    top: -300px;
    right: -20%; } }
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }
@media (max-width: 1300px) {
  .circle {
    top: -11%;
    right: -40%; } }
@media (max-width: 1100px) {
  .circle {
    top: -6%;
    right: -35%; }

  .lead.heading-width {
    color: #343a40; } }
@media (max-width: 768px) {
  .circle {
    top: -6%;
    right: -65%; }

  .lead.heading-width {
    color: inherit; } }
@media (max-width: 600px) {
  .circle {
    width: 200px;
    height: 200px;
    top: 0;
    right: 0; }

  .container-fluid.p-0 .heading-width {
    width: 100%; }

  .title-heading .right-circle {
    top: 93px;
    left: 150px; } }
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }
@media (max-width: 768px) {
  .card .card-img-top {
    height: auto; } }
.bg-primary {
  background: linear-gradient(-127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%) !important; }

.text-primary {
  background: linear-gradient(-127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important; }

#about h1 {
  color: #c06c84; }
#about .subheading.mb-3 {
  color: #c06c84; }
  #about .subheading.mb-3 a {
    background: linear-gradient(-127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important; }
    #about .subheading.mb-3 a:hover, #about .subheading.mb-3 a:active {
      background: linear-gradient(127deg, #f8b195 0%, #c06c84 35%, #6c5b7b 60%, #355c7d 90%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent !important; }

/*# sourceMappingURL=resume.css.map */
